h3{
	font-display: solid block;
	font-size: 20px;
	margin: auto;
	text-align: center;
}

table{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	

}

tr td{
	border: 1px thin black;
	width: 1px;
	padding: 4px;
	vertical-align: inherit;


} 

.one{
	background: rgb(0, 144, 184);
	color: white;


}

.two{
	background: rgb(0, 144, 184);
	color: white;
}

.three{
	background: rgb(0, 144, 184)
}

.fourth{
	background: rgb(0, 144, 184);
}

.fifth{
	background: rgb(0, 144, 184);
}

.final{
	text-align: center;
	
}

